﻿@model LoginWeb

@using Microsoft.AspNetCore.Mvc.Localization
@using TicketShop.Web.ViewModels

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>@Localizer["EnterTheSite"].Value</h2>
<a href="/Home/Index" class="glyphicon glyphicon-arrow-left"></a>
<p />

<form asp-controller="Account" asp-action="Login" method="post" , new { class="form-horizontal col-xs-12" }>

    <div class="container" style="margin-top: 130px">
        <div class="form-group">
            <label class="col-xs-5 control-label">@Localizer["EnterLoginEmail"].Value</label>
            <div class="col-xs-2">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-5 control-label">@Localizer["EnterPassword"].Value</label>
            <div class="col-xs-2">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" class="btn btn-info" value=@Localizer["Send"].Value>
            </div>
        </div>

    </div>

</form>
