﻿@model RegisterWeb
@using Microsoft.AspNetCore.Mvc.Localization
@using TicketShop.Web.ViewModels

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>@Localizer["Registration"].Value</h2>
<a href="/Home/Index" class="glyphicon glyphicon-arrow-left"></a>
<p/>
<form asp-controller="Account" asp-action="Register" method="post" , new { class="form-horizontal col-xs-8" }>
    <div class="container">

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["EnterFirstName"].Value</label>
            <div class="col-xs-4">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["EnterLastName"].Value</label>
            <div class="col-xs-4">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <p></p>
        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["EnterLocalization"].Value</label>
            <div class="col-xs-4">
                <select asp-for="Localization" asp-items="@Model.LanguageList" name="Localization" class="form-control"></select>
            </div>
        </div>
        <p></p>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["EnterAddress"].Value</label>
            <div class="col-xs-4">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["EnterPhoneNumber"].Value</label>
            <div class="col-xs-4">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["EnterEmail"].Value</label>
            <div class="col-xs-4">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["EnterPassword"].Value</label>
            <div class="col-xs-4">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["ConfirmPassword"].Value</label>
            <div class="col-xs-4">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" class="btn btn-info" value=@Localizer["Send"].Value>
            </div>
        </div>

    </div>
</form>