﻿@model TicketShop.Web.ViewModels.UserWeb

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h3>@Localizer["ABOUTUSER"].Value</h3>

<p></p>
<a href="/Home/Index" class="glyphicon glyphicon-arrow-left"></a>

<Hr />

<table class="table table-bordered table-striped" style="width: 800px">
    <tbody>
        <tr>
            <th>@Localizer["Name"].Value</th>
            <td>@Model.FirstName @Model.LastName</td>
        </tr>
        <tr>
            <th>@Localizer["Localization"].Value</th>
            <td>@Model.Localization</td>
        </tr>
        <tr>
            <th>@Localizer["Address"].Value</th>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <th>@Localizer["Phone"].Value</th>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <th>@Localizer["LoginEmail"].Value</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>@Localizer["Password"].Value</th>
            <td>@Model.Password</td>
        </tr>
        <tr>
            <th>@Localizer["Role"].Value</th>
            @{
                var roles = string.Empty;
            }
            @foreach (var role in Model.UserRoles)
            {
                roles += role.Role.Name + " ";
            }
            <td>@roles</td>
        </tr>

    </tbody>
</table>