﻿/*body {
    font-family: Verdana;
    background-color: #f7f7fa;
    font-weight: 300;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


p {
    line-height: 16px;
}


a {
    color: orangered;
}

hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
}

.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
    height: 60px;
}

#headerwrap {
    background: url(../Images/background.jpg) no-repeat center top;
    text-align: center;
    background-attachment: inherit;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    height: 770px;
    background-size: 100%;
    background-size: cover;
}
    
.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

footer {
    position: fixed;
    bottom: 0;
    background: #2d2d2d;
    width: 100%;
}





.backgroundColor {
    background: rgba(255, 255, 255, .6);
    min-height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container.w.preFooter {
    font-family: Verdana;
    font-weight: 300;
    font-size: 13px;
}
.row.centered {
    margin-top: 70px;
}

.navbar-collapse.collapse {
    margin-top: 5px;
}*/

.container {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    width: 100%;
}

.centered {
    text-align: center;
}

.headerwrap {
    background: url(../Images/background.jpg) no-repeat center top;
    text-align: center;
    background-attachment: inherit;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    height: 730px;
    background-size: 100%;
    background-size: cover;
    margin-top: 50px;
}

.renderWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: auto;
    min-width: 500px;
    max-width: 90%;
    height: 730px;
    background: rgba(255, 255, 255, .6);
    overflow: auto;
}


.footer {
    position: fixed;
    bottom: 0;
    background: #2d2d2d;
    width: 100%;
}

.language {
    text-align: right;
    left: 90%;
}

.copiryte {
    color: white;
    position: absolute;
    left: 5.8%;
}

.navbar {
    border: 0px;
}

.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 5.8%;
}

.navbar-brand {
    position: absolute;
    left: 5.8%;
}

.active {
    color: red;
    background-color: #337ab7;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.renderWindow > h2 {
    color: white;
}

.container > h2 {
    color: white;
}

.preFooter {
    padding-top: 20px;
}

.extendedPage {
    flex-direction: row;
    display: flex;
}

.extendedFinder {
    align-items: left;
    text-align: left;
    padding: 30px 30px 30px 30px;
}

.extendedFinderTable {
    align-items: left;
    text-align: left;
    padding: 30px 30px 30px 30px;
}

#pageNumber {
    text-align: center;
    width: 50px;
}


/*for custom dropdown*/
.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

    .selectBox select {
        width: 100%;
        font-weight: bold;
    }

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

    #checkboxes label {
        display: block;
    }

        #checkboxes label:hover {
            background-color: #1e90ff;
        }

/*for custom dropdown*/
