﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@{
    ViewData["Title"] = @Localizer["About"].Value;
}
<div class="container" style="margin-top: 130px">
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>