﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

@{
    ViewData["Title"] = @Localizer["ContactPage"].Value;
}

<div class="container" style="margin-top: 130px">
    <h2>@ViewData["Title"].</h2>
    <p></p>
    
    <address>
        <abbr title="Phone">@Localizer["Phone"].Value</abbr>
        +375(44) 750-29-99
        <br />
        <abbr title="skype">@Localizer["Skype"].Value</abbr>
        TheShadowOfGod
        <br />
        <strong>@Localizer["Support"].Value</strong> <a href="mailto:Joisoc0@gmail.com">Joisoc0@gmail.com</a><br />
    </address>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>