﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div>
    <span id="hours"></span>
</div>

<script type="text/javascript">

    obj_hours = document.getElementById("hours");

    name_month = new Array(
        "января",
        "февраля",
        "марта",
        "апреля",
        "мая",
        "июня",
        "июля",
        "августа",
        "сентября",
        "октября",
        "ноября",
        "декабря");
    name_day = new Array(
        "воскресенье",
        "понедельник",
        "вторник",
        "среда",
        "четверг",
        "пятница",
        "суббота");

    function wr_hours() {
        time = new Date();

        time_sec = time.getSeconds();
        time_min = time.getMinutes();
        time_hours = time.getHours();
        time_wr = ((time_hours < 10) ? "0" : "") + time_hours;
        time_wr += ":";
        time_wr += ((time_min < 10) ? "0" : "") + time_min;

        time_wr = name_day[time.getDay()] +
            ", " +
            time.getDate() +
            " " +
            name_month[time.getMonth()] +
            " " +
            time.getFullYear() +
            " " +
            time_wr;

        obj_hours.innerHTML = time_wr;
    }

    wr_hours();
    setInterval("wr_hours();", 1000);

</script>


@{
    if (@User != null && @User.Identity.IsAuthenticated)
    {
        <div style="margin-top: 150px">
            <h3>
                <a asp-controller="Event" asp-action="Events">@Localizer["Events"].Value</a>
                <hr>

                <a asp-controller="Ticket" asp-action="MyTicketsSelling">@Localizer["MyTickets"].Value</a>
                <hr>

                <a asp-controller="Order" asp-action="MyOrders">@Localizer["MyOrders"].Value</a>
                <hr>

                <a asp-controller="Account" asp-action="UserInfo">@Localizer["UserInfo"].Value</a>
                <hr>
            </h3>
        </div>
    }
    else
    {
        <div class="container" style="margin-top: 130px">
            <h2>
                <b>@Localizer["WarningAuthorizastion"].Value</b>
            </h2>
            <hr/>
            <h2>
                <a asp-controller="Event" asp-action="Events">@Localizer["Events"].Value</a>
            </h2>
        </div>
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>