﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="container" style="margin-top: 130px">

    <h2>@Localizer["Thanks"].Value</h2>

    <Hr/>
    <a href="/Event/Events" class="glyphicon glyphicon-arrow-left"></a>
</div>