﻿@model IEnumerable<MyOrdersWeb>

@using Microsoft.AspNetCore.Mvc.Localization
@using TicketShop.DataAccess.Enums
@using TicketShop.Web.ViewModels

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h3>@Localizer["MYORDERS"].Value</h3>
<a href="/Home/Index" class="glyphicon glyphicon-arrow-left" style="margin-bottom: 10px"></a>
<table id="example" class="display nowrap" cellspacing="0" width="1000px">
    <thead>
        <tr>
            <th>@Localizer["TicketsId"].Value</th>
            <th>@Localizer["EventName"].Value</th>
            <th>@Localizer["TicketPrice"].Value</th>

            <th>@Localizer["SallerName"].Value</th>
            <th>@Localizer["SallerEmail"].Value</th>

            <th>@Localizer["EventDate"].Value</th>
            <th>@Localizer["OrderStatus"].Value</th>

            @{
                var confirmStatus = 0;
                var rejectStatus = 0;
                var mode = 0;

                foreach (var item in Model)
                {
                    if (item.OrderStatus == StatusEnum.Confirmed.ToString())
                    {
                        confirmStatus++;
                    }
                    if (item.OrderStatus == StatusEnum.Rejected.ToString())
                    {
                        rejectStatus++;
                    }
                }
                /*Заморочки с адекватным динамичным выводом двух полей - комент и трэк номер*/
                /*Пока так, нет времени*/
                if (confirmStatus != 0 && rejectStatus != 0)
                {
                    mode = 1;
                    confirmStatus = 0;
                    rejectStatus = 0;
                }
                if (confirmStatus != 0)
                {
                    mode = 2;
                }
                if (rejectStatus != 0)
                {
                    mode = 3;
                }

                switch (mode)
                {
                    case 1:
                        <th>@Localizer["TrackNo"].Value</th>
                        <th>@Localizer["Comment"].Value</th>
                        break;
                    case 2:
                        <th>@Localizer["TrackNo"].Value</th>
                        break;
                    case 3:
                        <th>@Localizer["Comment"].Value</th>
                        break;
                }
            }

        </tr>
    </thead>
    <tbody>

        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Ticket.Id</td>
                <td>@item.Ticket.Event.Name</td>
                <td>@item.Ticket.Price</td>

                <td>@item.Ticket.SallerName</td>
                <td>@item.Ticket.SallerEmail</td>

                <td>@item.Ticket.Event.Date.ToString("MMMM dd, yyyy")</td>
                <td>@item.OrderStatus</td>
                @{
                    switch (mode)
                    {
                        case 1:
                            <td>@item.TrackNo</td>
                            <td>@item.Ticket.SellerNotes</td>
                            break;
                        case 2:
                            <td>@item.TrackNo</td>
                            break;
                        case 3:
                            <td>@item.Ticket.SellerNotes</td>
                            break;
                    }
                }
            </tr>
                    }

    </tbody>
</table>

<script src="~/lib/jquery-1.12.4.js"></script>
<script src="~/lib/scriptTables.js"></script>