﻿@model ExtentionEventWeb

@using Microsoft.AspNetCore.Mvc.Localization
@using TicketShop.Web.ViewModels

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}



<h2>@Localizer["AddEvent"].Value</h2>
<a href="/Administrative/Events" class="glyphicon glyphicon-arrow-left"></a>
<p/>
<form asp-controller="Administrative" asp-action="AddEvent" enctype="multipart/form-data" method="post" , new { class="form-horizontal col-xs-8" }>

    <div class="container" style="margin-top: 100px">

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["Banner"].Value</label>
            <div class="col-xs-4">
                <input type="file" name="file" multiple />
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["Description"].Value</label>
            <div class="col-xs-4">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["EventName"].Value</label>
            <div class="col-xs-4">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["EventDate"].Value</label>
            <div class="col-xs-4">
                <input type="date" asp-for="Date" Value=today.toISOString().substr(0, 10) max="2020-01-01" min="2017-01-01" class="form-control">
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["SelectVenue"].Value</label>
            <div class="col-xs-4">


                <input asp-for="VenueName" list="cityLists" autocomplete="off" class="form-control">
                <span asp-validation-for="VenueName" class="text-danger"></span>

                <datalist id="cityLists">
                    @foreach (var venueName in @Model.AllVenues)
                    {
                        <option value=@venueName.Name></option>
                    }
                </datalist>
            </div>
        </div>



        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" class="btn btn-info"  value=@Localizer["Send"].Value>
            </div>
        </div>

    </div>

</form>
