﻿@model ExtentionVenueWeb

@using Microsoft.AspNetCore.Mvc.Localization
@using TicketShop.Web.ViewModels

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>@Localizer["AddVenue"].Value</h2>
<a href="/Administrative/Venues" class="glyphicon glyphicon-arrow-left"></a>
<p />
<form asp-controller="Administrative" asp-action="AddVenue" method="post" , new { class="form-horizontal col-xs-8" }>

    <div class="container" style="margin-top: 130px">

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["EnterName"].Value</label>
            <div class="col-xs-4">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["EnterAddress"].Value</label>
            <div class="col-xs-4">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["EnterCity"].Value</label>
            <div class="col-xs-4">


                <input asp-for="CityNameInput" list="cityLists" autocomplete="off" class="form-control">
                <span asp-validation-for="CityNameInput" class="text-danger"></span>

                <datalist id="cityLists">
                    @foreach (var cityName in @Model.AllCities)
                    {
                        <option value=@cityName.Name></option>
                    }
                </datalist>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" class="btn btn-info" value=@Localizer["Send"].Value>
            </div>
        </div>

    </div>

</form>
