﻿@model dynamic

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}
<h2>
    @Localizer["Adminka"].Value
</h2>

<a href="/Home/Index" class="glyphicon glyphicon-arrow-left"></a>

<div class="container" style="margin-top: 100px">
    <h3>
        <a asp-controller="Administrative" asp-action="UserControlMenu">@Localizer["UserControl"].Value</a>
        <br />
        <br />
        <br />
        <a asp-controller="Administrative" asp-action="Cities">@Localizer["EntityControl"].Value</a>
    </h3>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>