﻿@using Microsoft.AspNetCore.Mvc.Localization
@using TicketShop.Web.ViewModels
@model List<CityWeb>
@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="btn-group" style="margin-top: 30px">
    <div class="btn-group">
        <button class="btn btn-primary">
            <a href="/Administrative/Cities" style="color: white"><ins>@Localizer["Cities"].Value</ins> </a>
        </button>
        <button class="btn" style="background-color: white">
            <a href="/Administrative/Venues"><ins>@Localizer["Venues"].Value</ins> </a>
        </button>
        <button class="btn" style="background-color: white">
            <a href="/Administrative/Events"><ins>@Localizer["Events"].Value</ins> </a>
        </button>
    </div>
</div>

<p></p>
<a href="/Administrative/Adminka" class="glyphicon glyphicon-arrow-left"></a>


<table id="example" class="display nowrap" cellspacing="0" width="1000px">
    <thead>
        <tr>
            <th class="col-xs-1">
                <span class="badge">@Model.Count</span>
            </th>
            <th class="col-xs-5" style="text-align: center">@Localizer["Name"].Value </th>
            <th class="col-xs-3">@{ @Html.ActionLink(" ", "AddCity", null, htmlAttributes: new { @class = "glyphicon glyphicon-plus modalwindowcall", style = "margin-left: 90px" }) }</th>
        </tr>
    </thead>
    <tbody>
        @{int index = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-xs-1">@(++index)</td>
                <td class="col-xs-5">@Html.DisplayFor(modelItem => item.Name)</td>
                <td class="col-xs-2">
                    <a asp-controller="Administrative" asp-action="EditCity" asp-route-cityId=@item.Id class="glyphicon glyphicon-pencil modalwindowcall"></a>
                    <a asp-controller="Administrative" asp-action="RemoveCity" asp-route-cityId=@item.Id class="glyphicon glyphicon-remove"> </a>
                </td>
            </tr>
        }


    </tbody>
</table>

<script src="~/lib/jquery-1.12.4.js"></script>
<script src="~/lib/scriptTables.js"></script>