﻿@model ExtentionEventWeb

@using Microsoft.AspNetCore.Mvc.Localization
@using TicketShop.Web.ViewModels

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>@Localizer["EditEvent"].Value</h2>
<a href="/Administrative/Events" class="glyphicon glyphicon-arrow-left"></a>
<p/>

<form asp-controller="Administrative" enctype="multipart/form-data" asp-action="EditEvent" method="post" , new { class="form-horizontal col-xs-8" }>
    <div class="container" >

        <div class="form-group">
            <div class="col-xs-12">
                <img src="@Url.Content(Model.Banner)" height="40%" width="40%" />
                <hr />
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["NewBanner"].Value</label>
            <div class="col-xs-4">
                <input type="file" name="file" multiple />
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["Date"].Value</label>
            <div class="col-xs-4">
                <input type="date" asp-for="Date" onfocus="(this.type='date')" max="2020-01-01" min="2017-01-01" class="form-control">
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["Description"].Value</label>
            <div class="col-xs-4">
                <input asp-for="Description" placeholder=@Model.Description class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["Name"].Value</label>
            <div class="col-xs-4">
                <input asp-for="Name" placeholder=@Model.Name class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["VenueName"].Value</label>
            <div class="col-xs-4">
                <input asp-for="VenueName" list="cityLists" autocomplete="off" class="form-control">
                <span asp-validation-for="VenueName" class="text-danger"></span>
                <datalist id="cityLists">
                    @foreach (var venueName in Model.AllVenues)
                    {
                        <option value=@venueName.Name></option>
                    }
                </datalist>
            </div>
        </div>

        <input type="hidden" asp-for="Id" placeholder=@Model.Id class="form-control" />
        <input type="hidden" asp-for="Banner" placeholder=@Model.Banner class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

        <div class="form-group">
            <div class="col-xs-12">
                <p>
                <p>
                    <input type="submit"  class="btn btn-info" value=@Localizer["Send"].Value>
                </p>
                </p>
            </div>
        </div>

    </div>

</form>
