﻿@model CityWeb

@using Microsoft.AspNetCore.Mvc.Localization
@using TicketShop.Web.ViewModels

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>@Localizer["EditCity"].Value</h2>
<a href="/Administrative/Cities" class="glyphicon glyphicon-arrow-left"></a>
<p />
    
<form asp-controller="Administrative" asp-action="EditCity" method="post" , new { class="form-horizontal col-xs-8" }>
    <div class="container" style="margin-top: 180px">
        <div class="container">
            <div class="form-group">
                <label class="col-xs-4 control-label">@Localizer["EnterCityName"].Value</label>
                <div class="col-xs-4">
                    <input asp-for="Name" placeholder=@Model.Name class="form-control" />
                    <input type="hidden" asp-for="Id" placeholder=@Model.Id class="form-control" />

                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group">
                <div class="col-xs-12">
                    <input type="submit" class="btn btn-info" value=@Localizer["Send"].Value>
                </div>
            </div>
        </div>
    </div>
</form>
