﻿@model List<EventWeb>

@using Microsoft.AspNetCore.Mvc.Localization
@using TicketShop.Web.ViewModels

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="btn-group" style="margin-top: 30px">
    <div class="btn-group">
        <button class="btn" style="background-color: white">
            <a href="/Administrative/Cities"><ins>@Localizer["Cities"].Value </ins></a>
        </button>
        <button class="btn" style="background-color: white">
            <a href="/Administrative/Venues"><ins>@Localizer["Venues"].Value </ins></a>
        </button>
        <button class="btn btn-primary">
            <a href="/Administrative/Events" style="color: white"><ins>@Localizer["Events"].Value </ins></a>
        </button>
    </div>
</div>

<p></p>
<div>
    <a href="/Administrative/Adminka" class="glyphicon glyphicon-arrow-left"></a>
    @Html.ActionLink(" ", "AddEvent", null, htmlAttributes: new { @class = "glyphicon glyphicon-plus modalwindowcall", style = "margin-left: 10px" })
</div>


<div>
    @foreach (var x in Model)
    {
        <img src="@Url.Content(x.Banner)" height="30%" width="30%" />

        <br />
        @Localizer["Name"].Value
        @x.Name
        <br />
        @Localizer["Date"].Value
        @x.Date.ToString("MMMM dd, yyyy")
        <br />
        @Localizer["City"].Value
        @x.CityName
        <br />
        @Localizer["Venue"].Value
        @x.VenueName
        <br />

        <div>
            <a asp-controller="Administrative" asp-action="EditEvent" asp-route-eventId=@x.Id class="glyphicon glyphicon-pencil modalwindowcall"></a>
            <a asp-controller="Administrative" asp-action="RemoveEvent" asp-route-eventId=@x.Id class="glyphicon glyphicon-remove"> </a>
        </div>
    }
</div>