﻿@model List<TicketShop.Web.ViewModels.UserWeb>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div style="margin-top: 30px">
    

    <h3>@Localizer["UserControlMenu"].Value</h3>
    <a href="/Administrative/Adminka" class="glyphicon glyphicon-arrow-left"></a>
    <p></p>

    <table id="example" class="display nowrap" cellspacing="0" width="1000px">
        <thead>
            <tr>
                <th class="col-xs-1">
                    <span class="badge">@Model.Count</span>
                </th>
                <th class="col-xs-2" style="text-align: center">@Localizer["FirstName"].Value</th>
                <th class="col-xs-2" style="text-align: center">@Localizer["LastName"].Value </th>
                <th class="col-xs-2" style="text-align: center">@Localizer["Role"].Value </th>
                <th class="col-xs-2" style="text-align: center">@Localizer["Phone"].Value </th>
                <th class="col-xs-2" style="text-align: center">@Localizer["Email"].Value </th>
                <th class="col-xs-3">
                    @{
                        if (Model.Count < 23)
                        {
                            @Html.ActionLink(" ", "RegisterAdmin", null, htmlAttributes: new { @class = "glyphicon glyphicon-plus modalwindowcall", @style = "margin-left: 40px" })
                        }
                        else
                        {
                            @Html.ActionLink(" ", "RegisterAdmin", null, htmlAttributes: new { @class = "glyphicon glyphicon-plus modalwindowcall", @style = "margin-left: 15px" })
                        }
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @{int index = 0;}
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-xs-1">@(++index)</td>
                    <td class="col-xs-2">@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td class="col-xs-2">@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td class="col-xs-2">
                        @*т.к. ролей может быть несколько*@
                        <div>
                            <select>
                                @foreach (var role in item.UserRoles)
                                {
                                    <option>@role.Role.Name</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td class="col-xs-2">@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td class="col-xs-2">@Html.DisplayFor(modelItem => item.Email)</td>
                    <td class="col-xs-2">
                        <a asp-controller="Administrative" asp-action="AddAdminRole" asp-route-userId=@item.Id title=@Localizer["AdminHint"].Value class="glyphicon glyphicon-font"></a>
                        <a asp-controller="Administrative" asp-action="AddUserRole" asp-route-userId=@item.Id title=@Localizer["UserHint"].Value class="glyphicon glyphicon-magnet"></a>
                        @*задача пока не стояла*@
                        @*<a asp-controller="Administrative" asp-action="RemoveUser" asp-route-userId=@item.Id class="glyphicon glyphicon-remove"> </a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/lib/jquery-1.12.4.js"></script>
<script src="~/lib/scriptTables.js"></script>