﻿@model List<VenueWeb>

@using Microsoft.AspNetCore.Mvc.Localization
@using TicketShop.Web.ViewModels

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="btn-group" style="margin-top: 30px">
    <div class="btn-group">
        <button class="btn" style="background-color: white">
            <a href="/Administrative/Cities"><ins>@Localizer["Cities"].Value</ins> </a>
        </button>
        <button class="btn btn-primary">
            <a href="/Administrative/Venues" style="color: white"><ins>@Localizer["Venues"].Value </ins></a>
        </button>
        <button class="btn" style="background-color: white">
            <a href="/Administrative/Events"><ins>@Localizer["Events"].Value </ins></a>
        </button>
    </div>
</div>

<p></p>
<a href="/Administrative/Adminka" class="glyphicon glyphicon-arrow-left"></a>


<table id="example" class="display nowrap" cellspacing="0" width="1000px">
    <thead>
        <tr>
            <th class="col-xs-1">
                <span class="badge">@Model.Count</span>
            </th>
            <th class="col-xs-2" style="text-align: center">@Localizer["Name"].Value </th>
            <th class="col-xs-6" style="text-align: center">@Localizer["Address"].Value </th>
            <th class="col-xs-2" style="text-align: center">@Localizer["City"].Value </th>
            <th class="col-xs-1">@{ @Html.ActionLink(" ", "AddVenue", null, htmlAttributes: new { @class = "glyphicon glyphicon-plus modalwindowcall", @style = "margin-left: 8px" })}</th>
        </tr>
    </thead>
    <tbody>
        @{int index = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-xs-1">@(++index)</td>
                <td class="col-xs-2">@Html.DisplayFor(modelItem => item.Name)</td>
                <td class="col-xs-6">@Html.DisplayFor(modelItem => item.Address)</td>
                <td class="col-xs-2">@Html.DisplayFor(modelItem => item.City.Name)</td>
                <td class="col-xs-1">
                    <a asp-controller="Administrative" asp-action="EditVenue" asp-route-venueId=@item.Id class="glyphicon glyphicon-pencil modalwindowcall"></a>
                    <a asp-controller="Administrative" asp-action="RemoveVenue" asp-route-venueId=@item.Id class="glyphicon glyphicon-remove"> </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery-1.12.4.js"></script>
<script src="~/lib/scriptTables.js"></script> 