﻿@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Localizer["TicketShop"].Value</title>
    
    

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css">
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon2.ico" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css">
        <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
        <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon2.ico" />
    </environment>
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.google.com/">Google :D</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (User != null && User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Ticket" asp-action="CreateTicket">@Localizer["NewTicket"].Value</a>
                        }
                    </li>
                    <li style="background-color: #337ab7;">
                        <a asp-controller="Home" asp-action="Index">@Localizer["MainPage"].Value</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="About">@Localizer["About"].Value</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Contact">@Localizer["Contact"].Value</a>
                    </li>

                    <li>
                        @if (User == null || !User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Account" asp-action="Register">@Localizer["Registration"].Value</a>
                        }
                    </li>
                    <li>
                        @{
                            bool flag = false;

                            Claim _claim = User?.Claims?.FirstOrDefault(claim => claim.Type == ClaimTypes.Role);
                            if (_claim != null)
                            {
                                flag = User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Role).Value.Contains("Admin");
                            }


                            if (User != null && flag)
                            {
                                <a asp-controller="Administrative" asp-action="Adminka">@Localizer["Adminka"].Value</a>
                                flag = false;
                            }
                        }
                    </li>
                    <li style="background-color: #337ab7;">
                        @if (User != null && User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Account" asp-action="Logout">@Localizer["Logout"].Value</a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login">@Localizer["Login"].Value</a>
                        }
                    </li>
                </ul>
            </div>

        </div>
    </div>


    <div class="headerwrap">
        <div class="centered">
            <div class="renderWindow">
                @RenderBody()
            </div>
        </div>
    </div>


    <div class="preFooter">
        <div class="centered">
            <div class="col-lg-4">
                <h4>
                    <a href="https://events.com/">@Localizer["Events"].Value</a>
                </h4>

                @Localizer["siteInfa1"].Value
                <div>
                    <a href="https://events.com/">
                        <img src="~/Images/events.png" alt="" width="70" height="70" />
                    </a>
                </div>

            </div>
            <div class="col-lg-4">
                <h4>
                    <a href="https://global.cheapflights.com">@Localizer["TicketsOnline"].Value</a>
                </h4>
                @Localizer["siteInfa2"].Value

                <div>
                    <a href="https://global.cheapflights.com">
                        <img src="~/Images/tickets.png" alt="" width="70" height="70" />
                    </a>
                </div>


            </div>
            <div class="col-lg-4">
                <h4>
                    <a href="http://gid.travel/">@Localizer["GidTravel"].Value</a>
                </h4>

                @Localizer["siteInfa3"].Value

                <div>
                    <a href="http://gid.travel/">
                        <img src="~/Images/travels.png" alt="" width="70" height="70" />
                    </a>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>

    </div>

    <div class="footer">
        <div class="col-lg-2">
            <div class="copiryte">
                &copy; epam training 2017
            </div>
        </div>

        <div class="col-lg-11">
            <div class="language">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </div>
    </div>


    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery.dataTables.min.js"></script>
</body>

</html>