﻿@using System.Threading.Tasks
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div title="@Localizer["RequestCultureProvider"].Value @requestCulture?.Provider?.GetType().Name">
    <form asp-controller="Home"
          asp-action="SetLanguage"
          asp-route-returnUrl="@Context.Request.Path"
          method="post" role="form">

        <select onchange="this.form.submit()"
                name="culture"
                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                asp-items="@cultureItems"></select>

    </form>
</div> 