﻿@model TicketShop.Web.ViewModels.ConfirmationTicketBuy

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>@Localizer["MYTICKETSTRACKNO"].Value</h2>

<a href="/Ticket/MyTicketsWait" class="glyphicon glyphicon-arrow-left" ></a>
<p/>

<form asp-controller="Ticket" asp-action="Confirmation" method="post" , new { class="form-horizontal col-xs-8" }>
    <div style="margin-top: 130px">
        <div class="container" style="width: 100%">
            <div class="form-group">
                <label class="col-xs-4 control-label">@Localizer["ENTERTRACKNO"].Value</label>
                <div class="col-xs-4">
                    <input asp-for="TrackNo" class="form-control" />
                    <span asp-validation-for="TrackNo" class="text-danger"></span>
                </div>
            </div>

            <input type="hidden" asp-for="TicketId" class="form-control" />

            <div class="form-group">
                <div class="col-xs-12">
                    <input type="submit" class="btn btn-info" value=@Localizer["Send"].Value>
                </div>
            </div>

        </div>
    </div>
</form>

