﻿@model TicketShop.Web.ViewModels.CreateTicketWeb

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>@Localizer["CreateTicket"].Value</h2>

<a href="/Home/Index" class="glyphicon glyphicon-arrow-left"></a>
<hr />

<form asp-controller="Ticket" asp-action="CreateTicket" enctype="multipart/form-data" method="post" , new { class="form-horizontal col-xs-8" }>

    <div class="container" style="margin-top: 130px">

        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["SelectEvent"].Value</label>
            <div class="col-xs-4">

                <input asp-for="EventName" list="eventList" autocomplete="off" class="form-control">
                <span asp-validation-for="EventName" class="text-danger"></span>

                <datalist id="eventList">
                    @foreach (var eventName in @Model.EventsWeb)
                    {
                        <option value=@eventName.Name></option>
                    }
                </datalist>
            </div>
        </div>


        <div class="form-group">
            <label class="col-xs-4 control-label">@Localizer["Price"].Value</label>
            <div class="col-xs-4">
                <input asp-for="Price" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" class="btn btn-info" value=@Localizer["Send"].Value>
            </div>
        </div>

    </div>

</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>