﻿@model dynamic

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="container" style="margin-top: 130px">
    <h2>
        @Localizer["Authorization"].Value
    </h2>
        <br/>
    <h2><a asp-controller="Home" asp-action="Index">@Localizer["BACK"].Value</a></h2>
</div>
