﻿@model IEnumerable<MyTicketsWeb>

@using Microsoft.AspNetCore.Mvc.Localization
@using TicketShop.DataAccess.Enums
@using TicketShop.Web.ViewModels

@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h3>@Localizer["MYTICKETS"].Value</h3>

<a href="/Home/Index" class="glyphicon glyphicon-arrow-left" style="margin-bottom: 10px"></a>

<div class="btn-group">
    <div class="btn-group">
        <button class="btn" style="background-color: white">
            <a href="/Ticket/MyTicketsSelling"><ins>@Localizer["Selling"].Value</ins></a>
        </button>
        <button class="btn" style="background-color: white">
            <a href="/Ticket/MyTicketsWait"><ins>@Localizer["Wait"].Value</ins></a>
        </button>
        <button class="btn btn-primary">
            <a href="/Ticket/MyTicketsSold" style="color: white"><ins>@Localizer["Confirmed"].Value</ins></a>
        </button>
    </div>
</div>


@if (Model.All(x => x.OrderStatus != StatusEnum.Confirmed.ToString()))
{
    <br />
    <b>@Localizer["Empty"].Value</b>
}
else
{
    <table id="example" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>@Localizer["TicketsId"].Value</th>
                <th>@Localizer["Name"].Value</th>
                <th>@Localizer["Price"].Value</th>
                <th>@Localizer["Date"].Value</th>
                <th>@Localizer["BuyerName"].Value</th>
                <th>@Localizer["BuyerEmail"].Value</th>
                <th>@Localizer["BuyerPhone"].Value</th>
                <th>@Localizer["Status"].Value</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var ticket in Model)
            {
                if (ticket.OrderStatus == StatusEnum.Confirmed.ToString())
                {
                    <tr>
                        <td>@ticket.TicketId</td>
                        <td>@ticket.EventName</td>
                        <td>@ticket.TicketPrice</td>
                        <td>@ticket.EventDate</td>
                        <td>@ticket.BuyerName</td>
                        <td>@ticket.BuyerEmail</td>
                        <td>@ticket.BuyerPhone</td>
                        <td>@ticket.OrderStatus</td>
                    </tr>
                }
            }

        </tbody>
    </table>
}

<script src="~/lib/jquery-1.12.4.js"></script>
<script src="~/lib/scriptTables.js"></script>  