﻿@model ConfirmationTicketBuy

@using Microsoft.AspNetCore.Mvc.Localization
@using TicketShop.Web.ViewModels

@inject IViewLocalizer Localizer

<link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h3>@Localizer["MYTICKETSTRACKNO"].Value</h3>

<a href="/Ticket/MyTicketsWait" class="glyphicon glyphicon-arrow-left" style="margin-bottom: 10px"></a>

<form asp-controller="Ticket" asp-action="Rejection" method="post" , new { class="form-horizontal col-xs-12" }>

    <div class="container">
        <div class="form-group">
            <label class="col-xs-3 control-label">@Localizer["ENTERCOMMENT"].Value</label>
            <div class="col-xs-5">
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
        </div>

        <input type="hidden" asp-for="TicketId" class="form-control" />

        <div class="form-group">
            <div class="col-xs-11">
                <input type="submit" value=@Localizer["Send"].Value>
            </div>
        </div>

    </div>

</form>

