﻿@model IEnumerable<TicketWeb>

@using Microsoft.AspNetCore.Mvc.Localization
@using TicketShop.Web.ViewModels

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h3>@Localizer["TICKETS"].Value</h3>
<a href="/Event/Events" class="glyphicon glyphicon-arrow-left" style="margin-bottom: 10px"></a>

<table id="example" class="display nowrap" cellspacing="0" width="1000px">
    <thead>
        <tr>
            <th>@Localizer["TicketsId"].Value</th>
            <th>@Localizer["EventDescription"].Value</th>
            <th>@Localizer["Seller"].Value</th>
            <th>@Localizer["Price"].Value</th>
            <th>@Localizer["Date"].Value</th>
            <th>@Localizer["BuyTicket"].Value</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var ticket in Model)
            {
            <tr>
                <td>@ticket.Id</td>
                <td>@ticket.EventDescription</td>
                <td>@ticket.SallerName</td>
                <td>@ticket.Price</td>
                <td>@ticket.Event.Date.ToString("MMMM dd, yyyy")</td>
                <td>
                    @if (User != null && @User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Order" asp-action="AddToOrder" asp-route-ticketId="@ticket.Id" , class="btn btn-primary"> @Localizer["tapToBuyTicket"].Value</a>
                    }
                    else
                    {
                        <a asp-controller="Ticket" asp-action="ErrorWhenBuyWithoutAuthorization" asp-route-ticketId="@ticket.Id" , class="btn btn-primary"> @Localizer["tapToBuyTicket"].Value</a>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>


<script src="~/lib/jquery-1.12.4.js"></script>
<script src="~/lib/scriptTables.js"></script>  