﻿@model IEnumerable<TicketShop.Web.ViewModels.EventWeb>

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h3>@Localizer["EVENTS"].Value</h3>

<p></p>
<a href="/Home/Index" class="glyphicon glyphicon-arrow-left"></a>

<a href="/Event/ExtendedFindEvents" class="glyphicon glyphicon-search" style="font-size: 20px"> Extended finder</a>
<br/>

@foreach (var x in @Model)
{
    <img src="@Url.Content(x.Banner)" height="20%" width="20%"/>
    @x.Name
    <br/>
    @Localizer["Date"].Value
    @x.Date.ToString("MMMM dd, yyyy")
    <br/>
    @Localizer["City"].Value
    @x.CityName
    <br/>
    @Localizer["Venue"].Value
    @x.VenueName
    <br/>
    <a asp-controller="Ticket" asp-action="Tickets" asp-route-eventId="@x.Id" , class="btn btn-primary"> @Localizer["tapToBuyTicket"].Value</a>//передали id event, и далее по этому ивенту ищем билеты на данный event
    <br/>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
