﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Master.cshtml";
}

<script src="~/lib/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="~/css/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/lib/scriptDates.js"></script>
<script src="~/lib/scriptExtendedFilterPages.js"></script> @*//111*@

@*For autocomplete field https: //select2.org/getting-started/basic-usage*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<p></p>
<a href="/Event/Events" class="glyphicon glyphicon-arrow-left"></a>
<br />

<div class="extendedPage">

    <div class="extendedFinder">   
        <p>
            <b>Имя ивента:</b><br>
            <select class="js-example-basic-single" id="eventName" style="width: 200px">
                <option selected='selected'>All</option>
            </select>
        </p>

        <label for="from">Date from: &nbsp <span class="glyphicon glyphicon-calendar"></span></label>
        <input type="text" id="from" name="from" style="width: 80px;" size="10">
        <span class="glyphicon glyphicon-remove" id="date_delete_from" style="cursor: pointer;"></span>
        <br />

        <label for="to">Date to: &nbsp &nbsp &nbsp <span class="glyphicon glyphicon-calendar"></span></label>
        <input type="text" id="to" name="to" style="width: 80px;" size="10">
        <span class="glyphicon glyphicon-remove" id="date_delete_to" style="cursor: pointer;"></span>
        
        <br/>
        <b>Select venues:</b><br>
        <select class="js-example-basic-multiple" id="venueCheckboxes" style="width: 200px;" name="states[]" multiple="multiple"></select>  
        <br />
        <b>Select cities:</b><br>
        <select class="js-example-basic-multiple" id="cityCheckboxes" style="width: 200px;" name="states[]" multiple="multiple"></select>  
        
        <br/>
        <br/>
        <a class='btn btn-primary' id="clear_all_filters"> Clear all filters </a>
    </div>
      
    <div class="extendedFinderTable" style="width: 900px;">

        <select id="pageSize">
            <option value="0">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10">10</option>
        </select>
        <p></p>
        <ul class="pager" style="margin: 0 0 0 0">
            <li class="previous">
                <a id="back" href="#">&larr; Назад</a>
            </li>
            <li>
                <input id="pageNumber" value="1" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></input>
            </li>
            <li class="next">
                <a id="forward" href="#">Вперед &rarr;</a>
            </li>
        </ul>

        <table class="table table-condensed table-striped table-bordered" id="myTable">
            <thead id="headings">
            <tr>
                <th id="id" style="cursor: pointer">
                    <div>Id <span class="glyphicon glyphicon-sort-by-attributes" style="font-size: 12px"></span></div>
                </th>
                <th id="banner" style="cursor: pointer">
                    Banner <span class="glyphicon glyphicon-sort-by-attributes" style="font-size: 12px"></span>
                </th>
                <th id="name" style="cursor: pointer">
                    Name <span class="glyphicon glyphicon-sort-by-attributes" style="font-size: 12px"></span>
                </th>
                <th id="date" style="cursor: pointer">
                    Date <span class="glyphicon glyphicon-sort-by-attributes" style="font-size: 12px"></span>
                </th>
                <th id="cityName" style="cursor: pointer">
                    City <span class="glyphicon glyphicon-sort-by-attributes" style="font-size: 12px"></span>
                </th>
                <th id="venueName" style="cursor: pointer">
                    Venue <span class="glyphicon glyphicon-sort-by-attributes" style="font-size: 12px"></span>
                </th>
                <th id="buy" style="cursor: pointer">
                    Buy
                </th>
            </tr>
            </thead>
            <tbody id="results"></tbody>
        </table>
    </div>
</div>